[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xlrd = "*"
openpyxl = "*"
pandas = "*"
termcolor = "*"
tqdm = "*"
colorama = "*"
collection = "*"
pyupbit = "*"
requests = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
